<footer>

	<div class="description">
		<h3>Roberto Gonzalez</h3>
    	{{ site.description }}
    </div>

	<div class="list-contact">
		
		<ul class="fa-ul">
			<li>
				<i class="fa fa-twitter" aria-hidden="true">
					<a href="https://twitter.com/beto_gw">beto_gw</a>
				</i>
			</li>
			<li>
				<i class="fa fa-envelope-open-o" aria-hidden="true">
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</i>
			</li>
			<li>
				<i class="fa fa-github" aria-hidden="true">
					<a href="https://github.com/betotto?tab=repositories">{{ site.github_username }}</a>
				</i>
			</li>
			<li>
				<i class="fa fa-linkedin" aria-hidden="true">
					<a href="https://www.linkedin.com/in/roberto-gonz%C3%A1lez-ibarra-08829a93/">Roberto Gonzalez</a>
				</i>
			</li>
		</ul>
	</div>
    
</footer>
