html {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	/*@media screen and (min-width: $on-palm) {
		
	}*/
	font-family: $base-font;
	font-size: $base-font-size;

	> header {
		font-family: $bold-font;
		height: 70px;
    font-size: 30px;
	}
	
	main {
		display: flex;
		aside {
			flex: 1;
		}
		> section {
			flex: 3;
			min-width: 0;
			border-left: 1px solid silver;
			.articles-list {
				border-top: 1px solid silver;
			}
		}
	}
}

a {
	color: $base-text-color;
	&:visited {
		color: $base-text-color;
	}
	&:hover {
		color: $secondary-text-color;
	}
}

div.divider {
	border-top: 1px #E0E0E0 solid;
	margin: 10px 0px;
	flex: 1;
}