---
layout: default
---

<article class="post">
	<div class="date">{{ page.date | date: "%b %-d, %Y" }}</div>
	<div class="header">
		<i class="material-icons">{{page.icon}}</i>
		<b><a class="title" href="#">{{ page.title }}</a></b>
	</div>

	<div class="divider" />
	
	<div class="content">
		{{ content }}
	</div>

	<div class="buttons">
		{% if page.previous.url %}
			<button class="prev" onclick="document.location.href='{{ page.previous.url | prepend: site.baseurl }}'">
				&laquo; {{page.previous.title}}
			</button>
		{% endif %}
		{% if page.next.url %}
			<button class="next" onclick="document.location='{{ page.next.url | prepend: site.baseurl }}'">
				{{page.next.title}} &raquo;
			</button>
		{% endif %}
	</div>

</section>