---
layout: default
---

<article class="post">
	<div class="date">{{ page.date | date: "%b %-d, %Y" }}</div>
	<header>
		<div class="icon-category">
			<div class="icon {{page.icon}}"></div>
		</div>
		<b>{{ page.title }}</b>
	</header>

	<div class="divider" />
	
	<div class="content">
		{{ content }}
	</div>

	<div class="buttons">
  		{% if page.previous.url %}
    		<button class="prev" onclick="document.location.href='{{ page.previous.url | prepend: site.baseurl }}'">
				&laquo; {{page.previous.title}}
			</button>
  		{% endif %}
  		{% if page.next.url %}
    		<button class="next" onclick="document.location='{{ page.previous.url | prepend: site.baseurl }}'">
				{{page.next.title}} &raquo;
			</button>
  		{% endif %}
	</div>

</section>